body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:black;
  background-color:#f7fbfc;
}

ul {list-style: none;}
a {
  text-decoration: none;
  color:white;
}
a:hover {
 font-weight: bold;
  color: #f1b51c;
}

.search-bar {
  padding-top: 0.5%;
}

.homeformat{
  padding: 0.5%;
  color: black;
}

.filtertext {
  color: black;
}

.imghome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.nutritionchart {
  height: 50%;
  width: 50%;
}
.accordion-header {
  background-color: gray !important; 
}

@media screen and (max-width: 800px) {
  .nutritionchart {
    height: 200%;
  width: 100%;
  }
}


  .reviewtext {
  max-width: 50%;
  height: 200%;
  }


.padbutton {
  padding: 10px;
}

.filterformatting {
  padding: 10px;
  color: black;
}

 .bg-custom {
     background-color: rgb(235, 242, 244) !important;
 }

 .menu {
  background-color: rgb(235, 242, 244) !important;
  color: #f1b51c;
  padding-bottom: 0.5%;
  padding-left: 0.5%;
}

.rcorners {
  border-radius: 5px;
  border: 2px solid black; 
}

  body { 
    color:darkgrey;
    background-color:#ECD9BA;
  }
  ul {
    list-style: none;
  }
  a:hover {
   font-weight: bold;
    color: #f1b51c;
  }
  a:active {
    font-weight: bold;
     color: #f1b51c;
   }

  .checkbox-inline {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 10px;
  padding: 1%;
}